<!-- START OF dashboard/_unimplemented_module.html.erb -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Recent <%= modulename %></strong></h3>
	</div>
	<div class="panel-body Center-Container" style="min-height:400px; text-align:center; position: relative; background-color: #E6E6E6; color:#5C5C5C;">
			<div style="width: 50%; height: 50%; overflow: auto; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
				<h1 style="">Not Implemented</h1>
				<p><%= modulename %> are not yet implemented</p>
		</div>
	</div>
</div>
<!-- END OF dashboard/_unimplemented_module.html.erb -->