<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
			<h1>New brandurldatum</h1>
		</div>
	</div>

	<div class="panel-body">

<%= render 'form' %>
</div>
	<div class="panel-footer">
		<%= link_to 'Back', brandurldata_path, :class => 'btn btn-primary' %>
	</div>
</div>