independent/test_launcher/debug.txt
*.zip
independent/test_launcher/debug.png
debug.png
debug.txt
public/debug/
documentation/
.yardoc/
doc/
public/assets/glyphicons-halflings-regular-525e69adb520220dcc39d588f6308412.ttf
public/assets/
log/
workspace/TEST-ADAuthTest.xml
workspace/testingthis/r1_all_brands_prod/TEST-r1-all-brands-prod.xml
workspace/testingthis/vanityprod/TEST-CI-Vanity-Test.xml
workspace/thistest/TEST-ADAuthTest.xml
.yardoc/checksums
tmp/
