<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>New page_identifier</h1>
  </div>

  <div class="panel-body">

<%= render 'form' %>

<%= link_to 'Back', page_identifiers_path, :class => "btn btn-primary" %>
</div>
</div>