<div class="panel panel-primary">
  <div class="panel-heading">
  	<h1>Editing seo_validation</h1>
	</div>
	<div class="panel-body">

<%= render 'form' %>

<%= link_to 'Show', @seo_validation, :class => "btn btn-primary" %> <br><br>
<%= link_to 'Back', seo_validations_path, :class => "btn btn-primary" %>

</div>
</div>
