<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Editing SEO File</h1>
  </div>

  <div class="panel-body">

<%= render 'form' %>

<%= link_to 'Show', @seo_file, :class => "btn btn-primary" %> <br><br>
<%= link_to 'Back', seo_files_path, :class => "btn btn-primary" %>
</div>
</div>
