<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
			<h1>Editing brand</h1>
		</div>
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>

	<div class="panel-footer">
				<%= link_to 'Show', @brand, :class => 'btn btn-primary' %>
		<%= link_to 'Back', brands_path, :class => 'btn btn-primary' %>
	</div>
</div>